<div class="tekstike">
  Sinu probleemi analüüs
  </div>
  
  <div class="tekstike2">
   Allpool on toodud väike analüüs sellest, mida sinu õigusprobleem endast kujutab.
  </div>

  <div class="tekstike2">
    {{ oigusDiagnoos() }}
   </div>
   <br><br>
   <infovolg-component></infovolg-component>

<!--p>Alaleht2</p>

<p>Ava seadus...</p>

<p>Võta ühendust...</p>

<p>Lae alla hagitekst...</p-->

<br><br><br><br>
Tehniline spikker:
<br><br>
Naabreid vaadati:
{{korjaNaabrid()}}
<br>
Abielu vaadati: 
{{korjaAbielu()}}
<br>
Liiklust vaadati: 
{{korjaLiiklus()}}
<br>
Vargust vaadati: 
{{korjaVargus()}}
<br>
Võlga vaadati: 
{{korjaVolg()}}
<br>
Pärandust vaadati:  
{{korjaParandus()}}
<br>
Ärivaidlust vaadati: 
{{korjaArivaidlus()}}
<br>
Maavaidlust vaadati: 
{{korjaMaavaidlus()}}


<br><br>
<!--hagi-component></hagi-component-->