<!--p>Alaleht1</p> 
<h1>veel teksti</h1>

<a routerLink="/" class="button fancy-button"><em class="material-icons">diamond</em></a>
<a routerLink="/" >tekst</a-->
  <div class="tekstike">
    Robotjuhendaja
    </div>
    
    <div class="tekstike2">
     Allpool on toodud robotjuhendaja, kes annab esimesi suuniseid, kuidas oma õigusprobleemile läheneda.
    </div>
<div class="lehelaius">  
<robot></robot>
</div>
<br><br>
<div class="tekstike">
  Olukorra süvaanalüüs
  </div>
  
  <div class="tekstike2">
   Allpool nupul vajutades on võimalik analüüsida oma olukorda süvendatult.
  </div>
<br><br>
<robotnupp-component></robotnupp-component>
<br><br><br><br>