<div class="css-typing">
  <p>
  
  </p>
  <p>

  </p>
  <p>
    Tartu Kohtumaja
  </p>
  <p>
   Tartu Maakohus
  </p>
  <p>
    Kalevi 1 
  </p> 
  <p>
    50092 Tartu
  </p>
  <p>
    Hageja:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Toomas Mets
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Metsaküla 12
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;66677 Võrumaa
  </p>
  <p>
    Kostja:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tõnu Põld
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Peenravahe 28
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;55444 Viljandi
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;22. august 2024.a.
  </p>
  <p>
    HAGIAVALDUS
  </p>
  <p>
    Hagi nõue
  </p>
  <p>
    Mõista kostjalt välja 2300 eurot.
  </p>
  <p>
    Hagi hind
  </p>
  <p>
    2300 eurot
  </p>
  <p>
    Riigilõiv hagilt
  </p>
  <p>
    120 eurot
  </p>
  <p>
    Faktilised asjaolud
  </p>
  <p>
    7. märtsil 2015.a. notaribüroos sõlmitud
  </p>
  <p>
  müügilepingus on esitatud eksitavaid
  </p>
  <p>
  andmeid, millest tulenevalt taotlen lepingu
  </p>
  <p>
  tühistamist tulenevalt TsÜS § 90 lg 1.
  </p>
  <p>
  Müüja on ilmselgelt eksitanud tahtlikult
  </p>
  <p>
  põhjustades mulle varalist kahju.
  </p>
  <p>
  TsÜS § 90 lg 1 sätestab, et tehing, mis 
  </p>
  <p>
  on tehtud pettuse mõjul, võib seaduses 
  </p>
  <p>
  sätestatud korras tühistada.
  </p>
  <p>
  Nõude õiguslik alus  
  </p>
  <p>
  TsÜS § 90 lg 2 sätestab, et tühistatud 
  </p>
  <p>
  tehingu järgi saadu tuleb tagastada.  
  </p>
  <p>
  Tulenevalt sellest peab kostja mulle 
  </p>
  <p>
  tagastama 2300 eurot.
  </p>
  <p>
  Lähtudes eelpooltoodust ja juhindudes 
  </p>
  <p>
  TsÜS § 90 lg 1 ja TsÜS § 90 lg 2 palun:
  </p>
  <p>
  1. Võtta käesolev hagiavaldus menetlusse.
  </p>
  <p>
  2. Mõista kostjalt välja 2300 eurot.
  </p>
  <p>
  Lugupidamisega,
  </p>
  <p>
  Toomas Mets
  </p>
</div>
<br><br><br><br>