<!----br>
<br-->
<!----div class= "tekstike">
  Elastsuse tähendus
</div>
<br><br>
<div class= "tekstike2">
Alljärgnevas tabelis on näidatud elastsuse numbriliste väärtuste suurused ja vastavad tähendused.
</div-->
<table id="employees">
  
<tr>
<th>Teenuse nimetus</th>
<th>Maksumus</th>
<th>Tasumine</th>


</tr>

<tr>
<td>Olukorra arutamine advokaadiga</td>
<td>20 eurot</td>
<td class="tasutud">Tasutud sularahas</td>

</tr>
<tr>
<td>Dokumentidega tutvumine</td>
<td>50 eurot</td>
<td class="tasutud">Tasutud ülekandega</td>

</tr>
<tr>
<td>Advokaadi osalemine kohtuistungil</td>
<td>120 eurot</td>
<td class="tasumata">Tasumata</td>

</tr>
<tr>
<td>Hagivavalduse koostamine</td>
<td>80 eurot</td>
<td class="tasumata">Tasumata</td>

</tr>
<tr>
<td>Advokaadi osalemine ülekuulamisel </td>
<td>140 eurot</td>
<td class="tasumata">Tasumata</td>
 
</tr>

</table>
<br><br>
<br>
<div class= "tekstike2">
Kui makse on teostamisel, siis ei pruugi tabelis õige makseinfo kajastuda.
</div>