<!--p>Avaleht</p-->

<div class="tekstike">
Õigusprobleemide lahendaja
</div>

<div class="tekstike2">
 Käesolev süsteem on mõeldud lahendamaks igapäevases elus, nii era- kui tööelus, ettetulevaid probleeme. Süsteem kasutab sisendina teavet Eesti õiguskeskkonnast (seadustest, kohtupraktikast) ning ühtlasi ka tehisintellekti tööriistu tagamaks parimat võimalikku lahendust.
</div>

<div class="tekstike tekstikeB">
  Kuidas kasutada?
  </div>
  <div class="tekstike2 tekstikeD">
    Allpool on toodud erinevad viisid, millist õiguslikku abi süsteem sulle pakub:
   </div>
<ul class="tekstikeC">
<li>saad suhelda robotiga;</li>
<li>saad teada oma õigusprobleemi sisu;</li>
<li>saad vajadusel koostada hagi;</li>
<li>saad võtta kontakti reaalse nõustajaga;</li>
<li>saad oma probleemi lahendatud.</li>
</ul>
<br><br>
<nuppkaasus-component></nuppkaasus-component>
<br><br>
<nuppteenused-component></nuppteenused-component>