<div class="tekstike">
  Probleemi põhjalik lahkamine
  </div>
  
  <div class="tekstike2">
   Siin hakkame su probleemi nüüd põhjalikumalt lahkama.
  </div> 

  <div class="nupp">
    <button> 
      Mulle ollakse raha võlgu
    </button>
  </div>
  <div class="nupp">
    <button> 
      Mina olen raha võlgu
    </button>
  </div>
  <div class="nupp">
    <button> 
      Mulle tahetakse pankrotti
    </button>
  </div>
  <div class="nupp">
    <button> 
      Minu autole sõideti sisse
    </button>
  </div>
  <div class="nupp">
    <button> 
      Tööandja ei maksa palka välja
    </button>
  </div>
  <br><br>
  <nuppsuurus-component></nuppsuurus-component> 