<div class="tekstike">
  Hagi koostamine
  </div>
  
  <div class="tekstike2">
   Selleks, et koostada hagi ja see kohtusse sisse anda, selleks tuleb astuda mitmeid samme. Vaja on tuvastada riigilõivu suurus. Vaja on leida õige kohus, kuhu hagi saata.
  
  <br><br>

  Allpool on võimalik näha, kuidas süsteem koostab näidishagi ja kuidas leida õige riigilõivu suurus.

  </div> 
  <br><br>

  <!--hagikirjutamine-component></hagikirjutamine-component--->

  <!--hagitekst-component></hagitekst-component-->

  <!---hagitekst3-component></hagitekst3-component>

  <hagiopetus-component></hagiopetus-component--->

  <haginupp-component></haginupp-component>
  <!--hagiopetus2-component></hagiopetus2-component-->

  <!--tavatekst-component></tavatekst-component-->
  <br><br>
  <nuppriigiloiv-component></nuppriigiloiv-component>


  