<!--a [routerLink]="['/']"-->
  <!---p>OT-õigusabi</p-->
<!--/a-->
<a routerLink="." class="tekstike3" ><em class="material-icons"></em>Olevi õigus</a>

<a routerLink="alaleht1" class="button fancy-button"><em class="material-icons">diamond</em></a>
<a routerLink="alaleht2" class="button fancy-button"><em class="material-icons">star</em></a>
<a routerLink="alaleht3" class="button fancy-button"><em class="material-icons">home</em></a>
<a routerLink="alaleht2" class="button fancy-button"><em class="material-icons">circle</em></a>
<!--a routerLink="alaleht2" class="button fancy-button"><em class="material-icons">shopping_cart</em></a-->
<!--a class="button fancy-button"><em class="material-icons">shopping_cart</em>Checkout</a-->


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->